@media (max-width: 767px) {
  .container {
    width: 100% !important;
    padding: 0 10px;
  }
  .navbar {
    flex-direction: column !important;
    align-items: flex-start !important;
    .collapse {
      display: none !important;
      &.show {
        display: flex !important;
      }
      .nav {
        flex-direction: column !important;
        margin-top: 10px;
        align-items: flex-start !important;
        .nav-item {
          margin: 10px 0;
          width: 100%;
          .nav-link {
            display: block !important;
          }
        }
        .login {
          justify-self: center;
          width: 60%;
        }
      }
    }
    .toggler {
      display: block !important;
    }
  }
  .home {
    .overlay {
      display: none !important;
    }
    .home-info {
      width: 100% !important;
    }
    .home-img {
      display: none !important;
    }
  }
  .about {
    .details {
      .details-info {
        flex-direction: column !important;
      }
    }
  }
}
